
<div class="login-page">
    <div class="login-box">
      <h2>User Login</h2>
      <form (ngSubmit)="onLogin()" #loginForm = "ngForm">
        
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            id="email" 
            class="form-control" 
            placeholder="Enter your email" 
            [(ngModel)]="email" 
            name="email" 
            required />
            <div *ngIf="loginForm.submitted || loginForm.controls['email']?.touched" class="error-message">
              <small *ngIf="loginForm.controls['email']?.errors?.['required']">Email is required.</small>
              <small *ngIf="loginForm.controls['email']?.errors?.['email']">Please enter a valid email address.</small>
            </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            id="password" 
            class="form-control" 
            placeholder="Enter your password" 
            [(ngModel)]="password" 
            name="password" 
            required />
            <div *ngIf="loginForm.submitted || loginForm.controls['password']?.touched" class="error-message">
              <small *ngIf="loginForm.controls['password']?.errors?.['required']">Password is required.</small>
              <small *ngIf="loginForm.controls['password']?.errors?.['minlength']">Password must be at least 6 characters long.</small>
              </div>
        </div>
    
        <button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</button>
      </form>
  
      <div class="redirect-link">
        <p>Don't have an account? <a routerLink="/register">Register here</a></p>
        <!-- <p>Are you an admin? <a routerLink="/admin-login">Admin Login</a></p> -->
      </div>
    </div>
  </div>
  