/* General styling */
.highlight {
    background-color: #ffeb3b; /* Yellow background for current user */
    font-weight: bold;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  /* Tabs styling */
  .tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    justify-content: center;
    /* margin-bottom: 20px; */
  }
  
  .tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    border-right: 1px solid #ccc;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #e0e0e0;
  }
  
  .tab-button.active {
    background-color: #ffffff;
    border-bottom: 2px solid #007bff;
    font-weight: bold;
  }
  
  /* Tab content container */
  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* Leaderboard table styling */
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    /* margin-top: 20px; */
  }
  
  .leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .leaderboard-table th {
    background-color: #007bff;
    color: white;
    text-align: left;
  }
  
  .leaderboard-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Pagination styling */
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #e0e0e0;
  }
  
  .pagination span {
    align-self: center;
    margin-top: 6px;
  }
  